<h1>Cocktails#show</h1>
<% @cocktail.doses.each do |dose| %>
  <h2><%= dose.ingredient.name %></h2>
  <h2><%= dose.description %></h2>
<% end %>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
